.tiulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    padding: 30px;
    background-color: #f0b429;
    width: 100%;
}

.tabla{
    width: 80px;
    margin: 40pt;

}